*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn:focus{
    outline: 0 !important;
}

div#wrapper{
    position: absolute;
    top: 40px;
    padding-left: 25%;
    font-size: 16px;

}

td , th{
    padding: 15px;
}